[options]
addons_path = D:\projects\odoo\odoo\addons,D:\projects\odoo\odoo\custom_addons
admin_passwd = $pbkdf2-sha512$600000$r/XeG8NY6x0j5Nxbi1FqLQ$WdwGOhxZyJ5jPrgUtgI1G0VN4tM8oSc7Jjc/.nz5/aQkj5psxnW0cDdF6D1b2FNqISzaGh9v8cDn8O99wbUaHg
db_host = False
db_port = False
db_user = odoo
db_password = 123456
dbfilter = .*